
  
@media (min-width: 700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:3000px;
    }
  
    .left-section h3{
      font-size: 10px;
    }
  
  }
  
  
  .content-wrapper {
      margin-left: 2%;
      margin-right: 2%;
    }
  
  