<br>

<div class="row">
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button style="background-color: rgb(228, 227, 230);" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3 class="mb-0">All Commissionerates</h3>
            <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
          </button>
        </h2>
       
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="background-color: rgb(228, 227, 230);">
            <div class="d-flex flex-wrap justify-content-between">


              <!-- Square Box 1 -->
              <div class="col-md-2 p-2 d-flex justify-content-center align-items-center rounded"
                style="background-color: rgb(255, 255, 255); height: 344px; width: 344px; border-color: #FDD2B2; border-width: 10px;">
                <!-- Content here -->
                Hello
              </div>

        

         
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
