


    <div class="row pt-5">


  <div class="accordion" id="accordionExample">


    <div class="accordion-item" style="border: none;">
      <h2 class="accordion-header" id="headingOne" >
        <button style="background-color: #f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h3 class="mb-0 me-2">Others</h3>
          <i class="bi bi-chevron-down" style="padding-left: 10px;"></i>
        </button>

      </h2>

      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div class="d-flex justify-content-between">

            <div class="">
              <!-- Content here -->
            </div>



          </div>


        </div>
      </div>


    </div>


  </div>


    </div>


<!-- ------------------------------------------------------------------------------------------- -->





