




        <div class="row pt-5">

            <div class="accordion" id="accordionExampleOne">
      
      
              <div class="accordion-item customBold" style="border: none;">
                <h2 class="accordion-header" id="headingTwo">
                  <button style="background-color:  #f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="customHeading">Purchase Comparison</h3>
                    <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExampleOne">
        
         
        
                  <div class="accordion-body" style="background-color: #f6f6f6">
        


        <div class="row"  >
        
        
      
      
                         
                  
            <div class="col-4">
        
                <div class="row align-items-start">
                    <p class="sub-heading">Tax Payer</p>
                    <div class="row align-items-center " style="padding-right: 0px;">
                      
                      <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                        <select class="form-select no-dropdown-icon " id="taxPayer">
                          <option  value="">Select Tax Payer</option>
                          <option value="payer1">Payer 1</option>
                          <option value="payer2">Payer 2</option>
                        </select>
                        
                      
                        <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>
                   
                      </div>
                             
                    </div>
          
                   
          
                  </div>
            </div>


            <div class="col-4 px-4">
               <div class="row align-items-start">
                    <p class="sub-heading">Office Code</p>
                    <div class="row align-items-center " style="padding-right: 0px;">
                      
                      <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                        <select class="form-select no-dropdown-icon" id="taxPayer">
                          <option value="">Select Tax Payer</option>
                          <option value="payer1">Payer 1</option>
                          <option value="payer2">Payer 2</option>
                        </select>
                        
                      
                        <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>
                   
                      </div>
                      
                    </div>
          
                   
          
                  </div>
            </div>



            <div class="col-4 d-flex gap-3 " style="padding-right: 0px;">

                <div class="col p-0">
                    <p class="sub-heading" style="padding-left: 12px;">From Date</p>
                    <input type="date" class="form-control" id="fromDate" style="height: 60px; border-radius: 15px;">
                </div>

                <div class="col" >
                    <p class="sub-heading" style="padding-left: 12px;">To Date</p>
                    <input type="date" class="form-control " id="toDate" style="height: 60px; border-radius: 15px;">
                </div>

                <div class="col-md-4 d-flex align-items-end p-0 ">
                    <button type="button" class="searchbtn" >Search
                        <i class="bi bi-search" style=" padding-left: 5px; "> </i></button>
                </div>

            </div>
        
                    </div>





                    <div class="row " style="  padding-top: 30px; ">



                        <table id="example">
                            <thead class="" style="">
                                <tr>
                                    <th>SL. No</th>
                                    <th>Company Bin</th>
                                    <th>Office Code</th>
                                    <th>Bill of Entry No.</th>
                                    <th>Bill of Entry Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="slid">1</td>
                                    <td>Company Bin</td>
                                    <td>Office Code</td>
                                    <td>1818 x 64</td>
                                    <td>2021-12-01</td>
                                    <td>Action</td>
                                </tr>
                                <tr>
                                    <td id="slid">2</td>
                                    <td>Company Bin</td>
                                    <td>Office Code</td>
                                    <td>1818 x 64</td>
                                    <td>2021-12-01</td>
                                    <td>Action</td>
                                </tr>
                            </tbody>
                        </table>
            
                    </div>









                    
        
        
                  </div>
                </div>
        
              </div>
        
        
            </div>
      
          </div>



         

        <div class="row">

            <div class="accordion" id="accordionExamlplethree">
      
      
              <div class="accordion-item customBoldTwo" style="border: none;">
                <h2 class="accordion-header" id="headingthree">
                  <button style="background-color:  #f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h3 class="customHeading">Purchase Information</h3>
                    <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingthree"
                  data-bs-parent="#accordionExamlplethree">
        
        
        
                  <div class="accordion-body" style="background-color: #f6f6f6">
        


        <div class="row"  >
        
        
      
      
                         
                  
            <div class="col-4">
        
                <div class="row align-items-start">
                    <p class="sub-heading">Tax Payer</p>
                    <div class="row align-items-center " style="padding-right: 0px;">
                      
                      <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                        <select class="form-select no-dropdown-icon" id="taxPayer">
                          <option value="">Select Tax Payer</option>
                          <option value="payer1">Payer 1</option>
                          <option value="payer2">Payer 2</option>
                        </select>
                        
                      
                        <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"
                        ></i>
                   
                      </div>
                      
                    </div>
          
                   
          
                  </div>
            </div>


            <div class="col-4 px-4">
               <div class="row align-items-start">
                    <p class="sub-heading">Purchase Type</p>
                    <div class="row align-items-center " style="padding-right: 0px;">
                      
                      <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                        <select class="form-select no-dropdown-icon" id="taxPayer">
                          <option value="">Select Tax Payer</option>
                          <option value="payer1">Payer 1</option>
                          <option value="payer2">Payer 2</option>
                        </select>
                        
                      
                        <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"
                        ></i>
                   
                      </div>
                      
                    </div>
          
                   
          
                  </div>
            </div>



            <div class="col-4 d-flex gap-3 " style="padding-right: 0px;">

                <div class="col p-0">
                    <p class="sub-heading" style="padding-left: 5px;">From Date</p>
                    <input type="date" class="form-control" id="fromDate" style="height: 60px; border-radius: 15px;">
                </div>

                <div class="col" style="">
                    <p class="sub-heading" style="padding-left: 5px;">To Date</p>
                    <input type="date" class="form-control " id="toDate" style="height: 60px; border-radius: 15px;">
                </div>

                <div class="col-md-4 d-flex align-items-end p-0 ">
                    <button type="button" class="searchbtn">
                       Search
                        <i class="bi bi-search" style="padding-left: 5px; "> </i></button>
                </div>

            </div>
        
                    </div>





                    <div class="row " style="  padding-top: 30px; ">



                        <table id="example">
                            <thead class="" style="">
                                <tr>
                                    <th>SL. No</th>
                                    <th>Company Bin</th>
                                    <th>Office Code</th>
                                    <th>Bill of Entry No.</th>
                                    <th>Bill of Entry Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="slid">1</td>
                                    <td>Company Bin</td>
                                    <td>Office Code</td>
                                    <td>1818 x 64</td>
                                    <td>2021-12-01</td>
                                    <td>Action</td>
                                </tr>
                                <tr>
                                    <td id="slid">2</td>
                                    <td>Company Bin</td>
                                    <td>Office Code</td>
                                    <td>1818 x 64</td>
                                    <td>2021-12-01</td>
                                    <td>Action</td>
                                </tr>
                            </tbody>
                        </table>
            
                    </div>









                    
        
        
                  </div>
                </div>
        
              </div>
        
        
            </div>
      
          </div>




        <div class="row">

            <div class="accordion" id="accordionExampleTwo">
      
      
              <div class="accordion-item customBoldThree" style="border: none;">
                <h2 class="accordion-header" id="headingOne">
                  <button style="background-color:  #f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3 class="customHeading">Sales Information</h3>
                    <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExampleTwo">
        
        
        
                  <div class="accordion-body" style="background-color: #f6f6f6">
        
                    <div class="row justify-content-between align-items-end">
        
        
      
      
                         
                  <div class="col">
                    <div class="row align-items-start">
                         <p class="sub-heading">Company Source</p>
                         <div class="row align-items-center " style="padding-right: 0px;">
                           
                           <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                             <select class="form-select no-dropdown-icon"  id="taxPayer">
                              <option value="">Select Compnay Source</option>
                              <option value="source1">Source 1</option>
                              <option value="source2">Source 2</option>
                             </select>
                             
                           
                             <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"
                            ></i>
                        
                           </div>
                           
                         </div>
               
                        
               
                       </div>
                 </div>
        
        
                      
                  <div class="col" style="padding-left: 24px;">
                    <div class="row" style="">
                         <p class="sub-heading">Office Code</p>
                         <div class="row align-items-center " >
                           
                           <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                             <select class="form-select no-dropdown-icon" id="taxPayer">
                               <option value="">Select Tax Payer</option>
                               <option value="payer1">Payer 1</option>
                               <option value="payer2">Payer 2</option>
                             </select>
                             
                           
                             <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"
                           ></i>
                        
                           </div>
                           
                         </div>
               
                        
               
                       </div>
                 </div>
        
        
                      <div class="col-1 d-flex align-self-end  p-0" >
                  
                        <button type="button" class="searchbtn"
                           >Search
                             <i class="bi bi-search" style="padding-left: 5px; "> </i></button>
                    </div>
        
        
        
                    </div>
        
        
                  </div>
                </div>
        
              </div>
        
        
            </div>
      
          </div>













