<loading-image [is-loading]="isLoading"></loading-image>
<div class="row pt-5">

  <div class="d-flex">

    <div class="p-2 d-flex align-items-center">
      <h3 class="mb-0">Vat Office</h3>

    </div>


  </div>

</div>






<div class="row pt-4">


  <div 
    class="accordion" id="commissionerateList"
    [ngStyle]="{ height: commissionerateList.length > 0 ? '600px' : 'auto', 'overflow-y': 'auto' }">

    <div 
    class="accordion-item" 
    *ngFor="let commissioner of commissionerateList" 
    style="margin-bottom: 20px;"
    
    >


      <button 
        [id]="'heading' + commissioner.code" 
        class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapseCommissioner' + commissioner.code"
        [attr.aria-controls]="'collapseCommissioner' + commissioner.code"
        [attr.aria-expanded]="isCollapsed[commissioner.code] ? 'false' : 'true'"
        (click)="getDivisionList(commissioner.id); 
        toggleCommissionerCollapse(commissioner.code)" 
        [ngStyle]="{'border-radius': currentlyOpenCommissionerId === commissioner.code ? '20px 20px 0 0' : '20px'}"
            
            >





        <div class="border-custom">
          <p class="code" style=" color: #B13A5A;">Code : {{ commissioner.code }}</p>
        </div>

        <div class="border-cus">
          <p class="p1">Commisionerate {{ commissioner.id }}:</p>
          <p class="p2">{{ commissioner.name }}</p>
        </div>

        <div *ngIf="currentlyOpenCommissionerId !== commissioner.code"
          class="d-flex align-items-center justify-content-center dropDownCustomIcon"
          style="background-color: #FFE5EC;">
          <!-- <i class="bi bi-search" style="font-size: 22px;"></i> -->
          <img src="assets/images/droparrow.svg" alt="" class="img-fluid"
            style="transform: rotate(180deg);">
        </div>

        <div *ngIf="currentlyOpenCommissionerId === commissioner.code"
          class="d-flex align-items-center justify-content-center dropDownCustomIcon"
          style="background-color: #FFE5EC;">
          <img src="assets/images/droparrow.svg" alt="" class="img-fluid">
        </div>
      </button>





      <div [id]="'collapseCommissioner' + commissioner.code" class="accordion-collapse collapse"
        [attr.aria-labelledby]="'heading' + commissioner.code" [attr.data-bs-parent]="'#commissionerateList'">


        <div *ngIf="divisionList.length === 0" class="text-center pt-3 ">
          <h3 style="color: #B13A5A; font-weight: 700;">Division is not available!</h3>
        </div>

        <div class="accordion-body px-2">



          <div class="accordion" [id]="'divisionList' + commissioner.code">

            <div class="timeline pr-4">



              <!-- Loop through timeline data dynamically -->
              <div class="tl-item" *ngFor="let division of divisionList">

                <!-- Dot -->
                <div class="tl-dot b-warning"></div>

                <!-- Content -->
                <div class="tl-content col">

                  <div class="accordion-item">




                    <button 
                      [id]="'heading' + division.code" 
                      class="accordion-button"
                      type="button" 
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapseDivision' + division.code"
                      [attr.aria-controls]="'collapseDivision' + division.code"
                      [attr.aria-expanded]="isCollapsed[division.code] ? 'false' : 'true'" 
                      (click)="getCircleList(division.id, commissioner.id); 
                      toggleDivisionCollapse(division.code)"
                      [ngStyle]="{'border-radius': currentlyOpenDivisionId === division.code ? '20px 20px 0 0' : '20px'
                           }">



                      <!-- [attr.aria-expanded]="currentlyOpenDivisionId === division.code"  -->
                      <div class="border-custom">
                        <p class="code" style=" color: #B05331;">Code : {{ division.code }}</p>
                      </div>

                      <div class="border-cus">
                        <p class="p1">Division {{ division.id }}:</p>
                        <p class="p2">{{ division.name }}</p>
                      </div>

                      <div>

                        <button *ngIf="currentlyOpenDivisionId === division.code"
                          class="d-flex align-items-center justify-content-center addbutton">
                          <i class="bi bi-plus-lg"></i> &nbsp; Add Circle
                        </button>
                      </div>




                      <div *ngIf="currentlyOpenDivisionId !== division.code"
                        class="d-flex align-items-center justify-content-center dropDownCustomIcon"
                        style=" background-color: #FFECE5;">
                        <!-- <i class="bi bi-search" style="font-size: 22px;"></i> -->
                        <img src="assets/images/droparrow.svg" alt="" class="img-fluid"
                          style="transform: rotate(180deg);">
                      </div>

                      <div *ngIf="currentlyOpenDivisionId === division.code" style=" background-color: #FFECE5;"
                        class="d-flex align-items-center justify-content-center dropDownCustomIcon">
                        <img src="assets/images/droparrow.svg" alt="" class="img-fluid">
                      </div>

                    </button>




                    <div [id]="'collapseDivision' + division.code" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingDivision' + division.code"
                      [attr.data-bs-parent]="'#divisionList' + commissioner.code">



                      <div *ngIf="circleList.length === 0" class="text-center pt-3 ">
                        <h3 style="color:  #B05331;; font-weight: 700;">Circle is not available!</h3>
                      </div>


                      <div class="accordion-body px-2">


                        <div class="accordion" [id]="'circleList' + division.code">

                          <div class="timeline ">

                            <div class="tl-item" *ngFor="let circle of circleList">

                              <!-- Dot -->
                              <div class="tl-dot b-warning"></div>

                              <!-- Content -->
                              <div class="tl-content col">

                                <div class="accordion-item">



                                  <button 
                                    [id]="'heading' + circle.code" 
                                    class="accordion-button" 
                                    type="button" 
                                    data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapseCircle' + circle.code"
                                    [attr.aria-controls]="'collapseCircle' + circle.code"
                                    [attr.aria-expanded]="isCollapsed[circle.code] ? 'false' : 'true'"
                                    (click)="getTaxPayerList(circle.id , division.id, commissioner.id ); 
                                    toggleCircleCollapse(circle.code)"
                                     [ngStyle]="{'border-radius': currentlyOpenCircleId === circle.code ? '20px 20px 0 0' : '20px'}"
                                    
                                    
                                    >

                                    <div class="border-custom">
                                      <p class="code" style="color: #9C7932;">Code : {{ circle.code }} </p>
                                    </div>

                                    <div class="border-cus">


                                      <p class="p1">Circle {{ circle.id }}:</p>
                                      <p class="p2">{{ circle.name }}</p>
                                    </div>


                                    <div *ngIf="currentlyOpenCircleId !==  circle.code"
                                      class="d-flex align-items-center justify-content-center dropDownCustomIcon"
                                      style=" background-color: #FFF4DE;">
                                      <!-- <i class="bi bi-search" style="font-size: 22px;"> </i> -->
                                      <img src="assets/images/droparrow.svg" alt="" class="img-fluid"
                                        style="transform: rotate(180deg);">
                                    </div>

                                    <div *ngIf="currentlyOpenCircleId ===  circle.code"
                                      class="d-flex align-items-center justify-content-center dropDownCustomIcon"
                                      style=" background-color: #FFF4DE;">
                                      <img src="assets/images/droparrow.svg" alt="" class="img-fluid">

                                    </div>

                                  </button>



                                  <div [id]="'collapseCircle' + circle.code" class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="'headingCircle' + circle.code"
                                    [attr.data-bs-parent]="'#circleList' + division.code">


                                    <div *ngIf="taxPayerList.length === 0" class="text-center p-4">
                                      <h3 style="color: #9C7932; font-weight: 700;">Tax Payer is not available!</h3>
                                    </div>



                                    <table *ngIf="taxPayerList.length > 0" id="example">

                                      <thead>
                                        <tr>
                                          <th>SL. No</th>
                                          <th>Tax Payer Name</th>
                                          <th>BIN No.</th>
                                          <th>E-TIN</th>
                                          <th>Contact No.</th>
                                          <th>Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let taxpayer of taxPayerList; let i = index">
                                          <td id="slid">{{ i + 1 }}</td>
                                          <td class="wrap-text"> {{ splitNameIntoChunks(taxpayer.taxPayerName) }} </td>
                                          <td>{{taxpayer.binNo}}</td>
                                          <td>{{taxpayer.etinNo}}</td>
                                          <td>{{taxpayer.mobileNo}}</td>
                                          <td></td>
                                        </tr>

                                      </tbody>
                                    </table>

                                  </div>



                                </div>

                              </div>

                            </div>

                          </div>

                        </div>
                      </div>
                    </div>


                  </div>





                </div>

              </div>



            </div>





          </div>





        </div>

      </div>
    </div>
  </div>



</div>