


.accordion-item{
  border-radius: 20px; 
}

.accordion-button{

  background-color: #FFFFFF; 
  display: flex; 
  align-items: 
  center; border-radius: 20px;

}



.border-custom {
  color: #89354C;
  border: 2px solid rgba(0, 0, 0, 0.222);
  border-radius: 10px;
  margin-right: 15px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;

}


.code {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}


.border-cus {
  display: flex;
}

.p1 {
  margin: 0;
  font-size: 22px; 
  font-weight: 500;
}
.p2 {
  margin: 0;
  padding-left: 20px; 
  font-size: 22px;
  font-weight: 400;
}

.dropDownCustomIcon{
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  height: 54px; 
  width: 54px; 
  border-radius: 20px;  
}


/* @media (max-width: 1200px) {
  .border-customs {
    margin-left: 200px;
    
  

  }

} 


@media (max-width: 768px) {
  .border-customs {
    margin-left: 200px;


  }
}

@media (max-width: 480px) {
  .border-customs {
    margin-left: 100px;

  }
}
*/

/* -------------------------------------------------------------------------------- */



.tl-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  
 }

.tl-item>* {
  padding: 10px;

}

/* .tl-item:last-child .tl-dot:after {
  display: none
} */


/* 
.tl-dot {
  position: relative;
  border-color: rgb(2, 0, 0);
} */


.tl-dot:after,
.tl-dot:before {
  content: '';
  position: absolute;
  border-width: 1.5px;
  border-radius: 50%;
  top: 41px;
  background-color: #C9C9C9ed;
  width: 8px;
  height: 8px;
  transform: translateX(-42%)
}


.tl-item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 41px;
  bottom: -42px;
  width: 1.5px;
  background: #C9C9C9ed;
  z-index: 0;
}


button[aria-expanded="true"]::after {
  display: none;

}

button[aria-expanded="false"]::after {
  display: none;
}


.addbutton{

  width: 190px; 
  position: absolute; 
  right: 10%; 
  top: 50%; 
  transform: translateY(-50%); 
  height: 54px; 
  border-radius: 20px; 
  background-color: #F6F6F6; 
  color: #000000; 
  font-size: 20px; 
  font-weight: 400; 
  border: 1px solid #00000033;
}

.addbutton i{
  font-size: 30px;
}



/*-------------------------------------------------------------------------------- */

#example thead tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

#example tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



.wrap-text {
  white-space: pre-line; /* This will respect the line breaks inserted */
  word-wrap: break-word;
}


#example th {
  padding: 10px 15px;
  text-align: left;
  background-color: #FFFFFF;
}


#example td {
  padding: 15px;
  background-color: #FFFFFF;
}

#slid {
  padding-left: 30px !important;
}

#example {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;

  width: 100%;

}

/*-------------------------------------------------------------------------------- */













.breadcrumb {
  background-color: transparent; /* Optional: Adjust if needed */
  padding: 0;
  margin: 0;
}

.breadcrumb-item::before {
  content: ''; /* Remove the default '/' separator */
}

.breadcrumb-separator {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin: 0 10px;
}






.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #0A3B4040;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
}

.search-container input {
  flex: 1;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 400;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #FFFFFF;
}

.search-container button i {
  font-size: 22.69px;
  color: #000000;
}
