.hovers:hover{

    color: #0A3B40;
}

.active{

    color: #0A3B40;
    position: relative;
   

}


.active::after {
    content: '';  
    position: absolute;
    bottom: -12px;  
    
    transform: translateX(-4%);  /* Shift it to center */
    left: 0;
    width: 110%;
    height: 2px;  
    background-color: #0A3B40;  
  }


  .breadcrumb-item::before {
    content: ''; /* Remove the default '/' separator */
  }

  hr {
    border: none;           
    border-top: 2px solid #0A3B40;  
   
    margin-top: 10px;

  }
  



.addbutton{

  width: 144px; 
  height: 60px; 
  border-radius: 20px; 
  background-color: #35BC8C; 
  color: #FFFFFF; 
  font-size: 22px; 
  font-weight: 500; 
  outline: none;

}



.custom-icon{
  height: 34px;
  width: 34px; background-color: #F6F6F6; 
  border-radius: 10px; 
  border: 1px solid #00000033 
}



.no-arrow::after {
  display: none !important;
}



.custom-select-wrapper {
  position: relative; /* Allows absolute positioning of the icon */
  display: inline-flex; /* Align items horizontally */
  width: 100%;  /* Make sure the wrapper takes full width */

 
  

}


.custom-select-wrapper.open .form-select option{
  background-color: #0A3B40; /* Change background when open */
  color: white;
  border-radius: 30px;
}

.custom-select-wrapper .form-select {
  transition: all 0.5s ease; /* Smooth transition for styling */
}

.custom-select-wrapper.open {
  
 
  background-color: #e3f2fd;
}












#example thead tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

#example tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* Add padding to header cells */
#example th {
  padding: 10px 10px; /* Adjust padding as needed */
  text-align: left; /* Optional: Align text to the left */
  background-color: #FFFFFF; /* Optional: Add a light background for the header */
}

/* Add padding to data cells */
#example td {
  padding: 10px;  /* Adjust padding as needed */
  background-color: #FFFFFF;
}

#slid{
  padding-left: 30px !important;
}
  


/* Style for rounded corners */
#example {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 15px;
  overflow: hidden; /* Ensure rounded corners are visible */
  
}








.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container .ngx-pagination {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.pagination-container .ngx-pagination .current {
  font-weight: bold;
  color: #043d40;
}
