


<div class="row pt-5">

  <div >


    <div class="breadcrumb pt-2 d-flex align-items-end" style=" padding: 0; margin: 0;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li *ngFor="let item of breadcrumb; let last = last" class="breadcrumb-item d-flex align-items-center"
            [class.actives]="last" [attr.aria-current]="last ? 'page' : null">

            <!-- Breadcrumb link or label -->
            <a *ngIf="!last" routerLink="vat-office" style="font-size: 30px; font-weight: 600; color: black; text-decoration: none;">{{
              item }}</a>
            <span *ngIf="last" style="font-size: 30px; font-weight: 600; color: black;">{{ item }}</span>

            <!-- Separator '>' for non-last items -->
            <span *ngIf="!last"
              style="margin-left: 15px; margin-right: 0px; font-weight: 600; color: black; font-size: 30px;"> > </span>
          </li>

        </ol>

      </nav>




    </div>


    <div class="d-flex justify-content-end gap-5" style="font-size: 20px; font-weight: 600; color: #00000066;">
      <div class="hovers" role="button" (click)="toggleSection('commissionerate'); updateBreadcrumb('Commissionerate')"
        [ngClass]="{'active': showSection === 'commissionerate'}">Commissionerate</div>
      <div class="hovers" role="button" (click)="toggleSection('division'); updateBreadcrumb('Division')"
        [ngClass]="{'active': showSection === 'division'}">Division</div>
      <div class="hovers" role="button" (click)="toggleSection('circle'); updateBreadcrumb('Circle')"
        [ngClass]="{'active': showSection === 'circle'}">Circle</div>
      <div class="hovers" role="button" (click)="toggleSection('taxpayer'); updateBreadcrumb('TaxPayer')"
        [ngClass]="{'active': showSection === 'taxpayer'}">Tax Payer</div>
    </div>

    <hr>



    <!-- commissionerate add form -->

    <div *ngIf="showSection === 'commissionerate'" class=" pt-1">



      <div class="d-flex justify-content-evenly align-items-center px-4"
        style="height: 15vh; background-color: #ffffff; border-radius: 15px; border: 1px solid #0A3B4040;">

        <div class="col-3 d-flex justify-content-start"><span
            style="font-size: 26px; font-weight: 600; color: #000000;">Add Commissionerate</span></div>


            <div class="col " > 
              <input type="text" [(ngModel)]="commissionerateName" placeholder="Enter Commissionerate Name"
                  style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
          
                  
  

                </div>

                <div class="col-1 d-flex justify-content-start"  style="padding-left: 10px;">
                  <i role="button" *ngIf="isEditing" (click)="refresh()" class="bi bi-x-square-fill" style="font-size: 24px; color: #0A3B40;"></i>
                </div>


        <div class="col-1 d-flex justify-content-end" >


       


          <button (click)="onCreateCommissionerate()"  class="btn addbutton">
            {{ isEditing ? 'Update' : 'Add' }}&nbsp; <i class="bi bi-plus-lg"></i>
        </button>

  
        </div>


      </div>



      <!-- table start here -->


      <div class="row pt-3">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 9vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-weight: 600; font-size: 24px;">List of Commissionerates</h3>










            <div class=" d-flex justify-content-end" style=" width: 47%;">

              <div class="search-container">
                <input type="text" placeholder="Search . . .">

                <button><i class="bi bi-search"></i></button>
              </div>






            </div>
          </div>



        </div>

      </div>


      <div>
        <table id="example" style="width: 99.9%;  margin-left: 1px; ">
          <thead>
            <tr style="font-weight: 500; font-size: 20px;">
              <th class="px-5" style="font-weight: 500; font-size: 20px;">Code</th>
              <th style="font-weight: 500; font-size: 20px;">Commissionerate Name</th>
              <th style="font-weight: 500; font-size: 20px;">Date Added</th>
              <th class="d-flex gap-3 justify-content-end px-5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of commissionerateList" style="font-size: 20px; font-weight: 400; ;">
              <td style="padding-right: 100px; " id="slid">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.createdOn | dateFormat }}</td>
              <td class="d-flex gap-3 justify-content-end px-5">
                <div role="button"  style="cursor: pointer;" (click)="editCommissionerate(item.id)"> <img style="cursor: pointer;" src="assets/images/editIcon.svg" alt="" class="img-fluid" ></div>
                <div role="button" style="cursor: pointer;" > <img style="cursor: pointer;" src="assets/images/deleteIcon.svg" alt="" class="img-fluid"></div>
              </td>
            </tr>


            <tr *ngIf="!commissionerateList || commissionerateList.length === 0">
              <td colspan="4" class="text-center" style="font-size: 20px; font-weight: 400; padding: 10px; color: #000000B2;">
                No Data Available
              </td>
            </tr>

          </tbody>
        </table>

        
      </div>

      <div class="pagination-controls " >

        <span style="font-size: 20px; font-weight: 400;">Page:</span><span
          style="font-size: 20px; font-weight: 500;">{{currentPage}}/{{ totalPagesCommissionerate() }}</span>


        <!-- Previous Button -->
        <button (click)="prevPage()" [disabled]="currentPage === 1" style="border: none; background-color:#f6f6f6;"
          type="button">
          <i style="transform: rotate(90deg);"
            class="bi bi-chevron-down dropdown-icon1 d-flex align-items-center justify-content-center">
          </i>
        </button>

        <!-- Next Button -->
        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= allData.length"
          style="border: none; background-color:#f6f6f6;" type="button">
          <i style="transform: rotate(-90deg);"
            class="bi bi-chevron-down dropdown-icon2 d-flex align-items-center justify-content-center">
          </i>
        </button>


      </div>





    </div>







    <!-- division add from -->

    <div *ngIf="showSection === 'division'" class="pt-1">



      <div class="row" style="margin-bottom: 0px;">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040; ">

            <h3 class="mb-0" style="font-size: 26px; font-weight: 600; color: #000000;">Add Division</h3>







          </div>



        </div>

      </div>


      <div class="d-flex justify-content-evenly align-items-center px-4 gap-3 pb-3 pt-2"
        style=" background-color: #ffffff; margin-top: -1px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; border: 1px solid #0A3B4040;">



        <div class="col">
          <div style="padding-bottom: 10px;"><span
              style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Commissionerate Name</span></div>
          
          
          
          <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">

            <!-- <select class="form-select no-dropdown-icon" id="" style="font-weight: 400; font-size: 20px; width: 100%; max-height: 100px;"   >
              <option value="" disabled selected>Select Commissionerate</option>
              <option *ngFor="let item of allData" [value]="item.id">{{ item.name }}</option>
            </select> -->

            <!-- Custom Dropdown -->
          <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
            Select Commissionerate Name
          </button>
          <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                    
          max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
          ">
            <li *ngFor="let payer of allData" >
              <a class="dropdown-item" href="#" >
                {{ payer.name }}
              </a>
            </li>
          </ul>


            <i
              class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

          </div>



        </div>

        <div class="col">
          <div style="padding-bottom: 10px;"><span
              style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Division Name</span></div>
          <input type="text" placeholder="Enter Division Name"
            style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
        </div>

        <div class="col-1 d-flex justify-content-end align-self-end">
          <button class="btn addbutton">
            Add&nbsp; <i class="bi bi-plus-lg"></i>
          </button>
        </div>


      </div>



      <!-- table start here -->


      <div class="row pt-3">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-weight: 600; font-size: 24px;">List of Divisions</h3>










            <div class=" d-flex justify-content-end" style=" width: 47%;">

              <div class="search-container">
                <input type="text" placeholder="Search . . .">

                <button><i class="bi bi-search"></i></button>
              </div>






            </div>
          </div>



        </div>

      </div>


      <div >
        <table id="example" style="width: 99.89%; margin-left: 1px; ">
          <thead>
            <tr style="font-weight: 500; font-size: 20px;">
              <th class="px-5" style="font-weight: 500; font-size: 20px;">Code</th>
              <th style="font-weight: 500; font-size: 20px;">Division Name</th>
              <th style="font-weight: 500; font-size: 20px;">Date Added</th>
              <th class="d-flex gap-3 justify-content-end px-5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of divisionListAll" style="font-size: 20px; font-weight: 400;">
              <td style="padding-right: 100px;" id="slidDivision">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date}}</td>
              <td class="d-flex gap-3 justify-content-end px-5">
                <div role="button"><img src="assets/images/editIcon.svg" alt="" class="img-fluid"></div>
                <div role="button"><img src="assets/images/deleteIcon.svg" alt="" class="img-fluid"></div>
              </td>
            </tr>

            <tr *ngIf="!divisionListAll || divisionListAll.length === 0">
              <td colspan="4" class="text-center" style="font-size: 20px; font-weight: 400; padding: 10px; color: #000000B2;">
                No Data Available
              </td>
            </tr>
          </tbody>
        </table>

        
      </div>

<div class="pagination-controls ">

          <span style="font-size: 20px; font-weight: 400;">Page:</span><span
            style="font-size: 20px; font-weight: 500;">{{currentPage}}/{{ totalPagesDivision() }}</span>

      


          <!-- Previous Button -->
          <button (click)="prevPageDivision()" [disabled]="currentPage === 1"
            style="border: none; background-color:#f6f6f6;" type="button">
            <i style="transform: rotate(90deg);"
              class="bi bi-chevron-down dropdown-icon1 d-flex align-items-center justify-content-center">
            </i>
          </button>

          <!-- Next Button -->
          <button (click)="nextPageDivision()" [disabled]="currentPage * pageSize >= divisionAllData.length"
            style="border: none; background-color:#f6f6f6;" type="button">
            <i style="transform: rotate(-90deg);"
              class="bi bi-chevron-down dropdown-icon2 d-flex align-items-center justify-content-center">
            </i>
          </button>


        </div>


    </div>




    <!-- circle add form  -->

    <div *ngIf="showSection === 'circle'" class="pt-1">



      <div class="row" style="margin-bottom: 0px;">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-size: 26px; font-weight: 600; color: #000000;">Add Circle</h3>







          </div>



        </div>

      </div>


      <div class="d-flex justify-content-evenly align-items-center px-4 gap-3 pb-3 pt-2"
        style=" background-color: #ffffff; margin-top: -1px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; border: 1px solid #0A3B4040;">



        <div class="col ">
          <div style="padding-bottom: 10px;"><span
              style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Commissionerate Name</span></div>
          <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
            
            


            <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
            Select Commissionerate Name
          </button>
          <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                    
          max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
          ">
            <li *ngFor="let payer of allData" >
              <a class="dropdown-item" href="#" >
                {{ payer.name }}
              </a>
            </li>
          </ul>


            <i
              class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

          </div>

        </div>


        <div class="col ">
          <div style="padding-bottom: 10px;"><span
              style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Division Name</span></div>

          <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
            <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
            Select Division Name
          </button>
          <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                    
          max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
          ">
            <li *ngFor="let payer of divisionAllData" >
              <a class="dropdown-item" href="#" >
                {{ payer.name }}
              </a>
            </li>
          </ul>


            <i
              class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

          </div>
        </div>

        <div class="col">
          <div style="padding-bottom: 10px;"><span
              style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Circle Name</span></div>

          <input type="text" placeholder="Enter Circle Name"
            style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
        </div>

        <div class="col-1 d-flex justify-content-end align-self-end" >
          <button class="btn addbutton">
            Add&nbsp; <i class="bi bi-plus-lg"></i>
          </button>
        </div>


      </div>



      <!-- table start here -->


      <div class="row pt-3">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-weight: 600; font-size: 24px;">List of Circle</h3>










            <div class=" d-flex justify-content-end" style=" width: 47%;">

              <div class="search-container">
                <input type="text" placeholder="Search . . .">

                <button><i class="bi bi-search"></i></button>
              </div>






            </div>
          </div>



        </div>

      </div>


      <div>
        <table id="example" style="width: 99.9%;  margin-left: 1px; ">
          <thead>
            <tr style="font-weight: 500; font-size: 20px;">
              <th class="px-5" style="font-weight: 500; font-size: 20px;">Code</th>
              <th style="font-weight: 500; font-size: 20px;">Circle Name</th>
              <th style="font-weight: 500; font-size: 20px;">Date Added</th>
              <th class="d-flex gap-3 justify-content-end px-5">Actions</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of circleListAll" style="font-size: 20px; font-weight: 400;">
              <td style="padding-right: 100px;" id="slidCircle">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date}}</td>
              <td class="d-flex gap-3 justify-content-end px-5">
                <div role="button"> <img src="assets/images/editIcon.svg" alt="" class="img-fluid"></div>
                <div role="button"> <img src="assets/images/deleteIcon.svg" alt="" class="img-fluid"></div>
              </td>
            </tr>

            <tr *ngIf="!circleListAll || circleListAll.length === 0">
              <td colspan="4" class="text-center" style="font-size: 20px; font-weight: 400; padding: 10px; color: #000000B2;">
                No Data Available
              </td>
            </tr>
          </tbody>
        </table>

        

      </div>

      <div class="pagination-controls">

        <span style="font-size: 20px; font-weight: 400;">Page:</span><span
          style="font-size: 20px; font-weight: 500;">{{currentPage}}/{{ totalPagesCircle() }}</span>


        <!-- Previous Button -->
        <button (click)="prevPageCircle()" [disabled]="currentPage === 1"
          style="border: none; background-color:#f6f6f6;" type="button">
          <i style="transform: rotate(90deg);"
            class="bi bi-chevron-down dropdown-icon1 d-flex align-items-center justify-content-center">
          </i>
        </button>

        <!-- Next Button -->
        <button (click)="nextPageCircle()" [disabled]="currentPage * pageSize >= circleAllData.length"
          style="border: none; background-color:#f6f6f6;" type="button">
          <i style="transform: rotate(-90deg);"
            class="bi bi-chevron-down dropdown-icon2 d-flex align-items-center justify-content-center">
          </i>
        </button>


      </div>
    </div>





    <!-- taxpayer add form -->

    <div *ngIf="showSection === 'taxpayer'" class="pt-1">
      <div class="row" >

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-size: 26px; font-weight: 600; color: #000000;">Add Tax Payer</h3>







          </div>



        </div>

      </div>





      <div
        style=" background-color: #ffffff; margin-top: -1px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; border: 1px solid #0A3B4040;">


  
        <div class="d-flex justify-content-evenly align-items-center px-4 gap-3 pb-3 pt-2">



          <div class="col ">
            <div style="padding-bottom: 10px;"><span
                style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Commissionerate Name</span></div>
            <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
              
              

              <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
            Select Commissionerate Name
          </button>
          <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                    
          max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
          ">
            <li *ngFor="let payer of allData" >
              <a class="dropdown-item" href="#" >
                {{ payer.name }}
              </a>
            </li>
          </ul>


              <i
                class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

            </div>

          </div>


          <div class="col ">
            <div style="padding-bottom: 10px;"><span
                style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Division Name</span></div>

            <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
              
              

              <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false"
              style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
              Select Division Name
            </button>
            <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                      
            max-height: 300px; 
      overflow-y: auto; 
      overflow-x: hidden; 
            ">
              <li *ngFor="let payer of divisionAllData" >
                <a class="dropdown-item" href="#" >
                  {{ payer.name }}
                </a>
              </li>
            </ul>


              <i
                class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

            </div>
          </div>

          <div class="col ">
            <div style="padding-bottom: 10px;"><span
                style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Circle Name</span></div>

            <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
            
              

              <button class="btn btn-secondary dropdown-toggle no-arrow" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false"
              style="border-radius: 15px; background-color: #FFFFFF; color: #00000099; font-size: 20px; width: 100%; text-align: left; padding-right: 35px; height: 60px; border: 1px solid #00000033;">
              Select Circle Name
            </button>
            <ul class="dropdown-menu costom-li" aria-labelledby="dropdownMenuButton" style=" border: none; background-color: #0A3B40; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px; font-weight: bold; width: 100%;
                      
            max-height: 300px; 
      overflow-y: auto; 
      overflow-x: hidden; 
            ">
              <li *ngFor="let payer of circleAllData" >
                <a class="dropdown-item" href="#" >
                  {{ payer.name }}
                </a>
              </li>
            </ul>


              <i
                class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center custom-icon"></i>

            </div>
          </div>

          <div class="col">
            <div style="padding-bottom: 10px;"><span style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Tax
                Payer Name</span></div>

            <input type="text" placeholder="Enter Circle Name"
              style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
          </div>







        </div>



        <div class="d-flex justify-content-evenly align-items-center px-4 gap-3 pb-3 pt-2">




          <div class="col">
            <div style="padding-bottom: 10px;"><span style="font-weight: 500; font-size: 20px; padding-left: 10px; ">BIN
                No.</span></div>

            <input type="text" placeholder="Enter BIN NO."
              style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
          </div>
          <div class="col">
            <div style="padding-bottom: 10px;"><span
                style="font-weight: 500; font-size: 20px; padding-left: 10px; ">E-TIN</span></div>

            <input type="text" placeholder="Enter E-TIN"
              style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
          </div>
          <div class="col">
            <div style="padding-bottom: 10px;"><span
                style="font-weight: 500; font-size: 20px; padding-left: 10px; ">Contact No.</span></div>

            <input type="text" placeholder="Enter Contact No."
              style="min-height: 55px; border-radius: 10px; width: 100%; border: 1px solid #00000033; outline: none; font-size: 20px; font-weight: 400; padding-left: 20px;">
          </div>

          <div class="col d-flex justify-content-start align-self-end" style="">
            <button class="btn addbutton">
              Add&nbsp; <i class="bi bi-plus-lg"></i>
            </button>
          </div>





        </div>


      </div>





      <!-- table start here -->


      <div class="row pt-3">

        <div>

          <div class=" px-4 d-flex justify-content-between align-items-center"
            style="background-color:#ffffff; border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vh;border: 1px solid #0A3B4040;">

            <h3 class="mb-0" style="font-weight: 600; font-size: 24px;">List of Tax Payers</h3>










            <div class=" d-flex justify-content-end" style=" width: 47%;">

              <div class="search-container">
                <input type="text" placeholder="Search . . .">

                <button><i class="bi bi-search"></i></button>
              </div>






            </div>
          </div>



        </div>

      </div>


      <div>
        <table id="example" style="width: 99.9%;  margin-left: 1px; ">
          <thead>
            <tr style="font-weight: 500; font-size: 20px;">
              <th class="px-5" style="font-weight: 500; font-size: 20px;">SI No.</th>
              <th style="font-weight: 500; font-size: 20px;">Tax Payer Name</th>
              <th style="font-weight: 500; font-size: 20px;">BIN No.</th>
              <th style="font-weight: 500; font-size: 20px;">E-TIN</th>
              <th style="font-weight: 500; font-size: 20px;">Contact No.</th>
              <th style="font-weight: 500; font-size: 20px;">Date Added</th>
              <th class="d-flex gap-3 justify-content-end px-5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of taxPayerList" style="font-size: 20px; font-weight: 400;">
              <td style="padding-right: 100px;" id="slid">{{item.id}}</td>
              <td>{{item.taxPayerName}}</td>
              <td>{{item.binNo}}</td>
              <td>{{item.etinNo}}</td>

              <td>{{item.mobileNo}}</td>
              <td>{{item.createdOn}}</td>
              <td class="d-flex gap-3 justify-content-end px-5">
                <div role="button" style="cursor: pointer;"> <img src="assets/images/editIcon.svg" alt="" class="img-fluid"></div>
                <div role="button"> <img src="assets/images/deleteIcon.svg" alt="" class="img-fluid"></div>
              </td>
            </tr>


            <tr *ngIf="!taxPayerList || taxPayerList.length === 0">
              <td colspan="7" class="text-center" style="font-size: 20px; font-weight: 400; padding: 10px; color: #000000B2;">
                No Data Available
              </td>
            </tr>
          </tbody>
        </table>


      
        
        

      </div>
      


      <div class="pagination-controls">

        <span style="font-size: 20px; font-weight: 400;">Page:</span><span
          style="font-size: 20px; font-weight: 500;">{{currentPage}}/{{ totalPagesTaxPayer() }}</span>


        <!-- Previous Button -->
        <button (click)="prevPageTaxPayer()" [disabled]="currentPage === 1"
          style="border: none; background-color:#f6f6f6;" type="button">
          <i style="transform: rotate(90deg);"
            class="bi bi-chevron-down dropdown-icon1 d-flex align-items-center justify-content-center">
          </i>
        </button>

        <!-- Next Button -->
        <button (click)="nextPageTaxPayer()" [disabled]="currentPage * pageSize >= taxPayerAllData.length"
          style="border: none; background-color:#f6f6f6;" type="button">
          <i style="transform: rotate(-90deg);"
            class="bi bi-chevron-down dropdown-icon2 d-flex align-items-center justify-content-center">
          </i>
        </button>


      </div>

      
    </div>


  </div>







</div>





