


    <div class="row pt-5">



    <div class="accordion" id="accordionExample" >


      <div class="accordion-item" style="border: none;">
        <h2 class="accordion-header" id="headingOne">
          <button style="background-color:  #f6f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h3>ASYCUDA Analysis Reports </h3>
            <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body" style="background-color: #f6f6f6f6; ">

            <div class="d-flex justify-content-between gap-3" >

            
             
              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>

              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); 
                margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>

              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); 
                margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>


              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); 
                margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>


              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); margin-right: 10px; 
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>

              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>


              <div class=""
                style="width: 226px; height: 210px; background-color: rgb(255, 255, 255); margin-right: 10px; border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <!-- Content here -->
              </div>


            </div>


          </div>
        </div>

      </div>


    </div>

    </div>





    <div class="row">

      <div class="accordion" id="accordionExampleTwo">


        <div class="accordion-item" style="border: none;">
          <h2 class="accordion-header" id="headingTwo">
            <button style="background-color:  #f6f6f6; padding-left: 0px;" class="accordion-button" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>Sales Information</h3>
              <i class="bi bi-chevron-down" style="padding-left: 10px;"></i> 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExampleTwo">
  
  
  
            <div class="accordion-body" style="background-color: #f6f6f6">
  
              <div class="d-flex gap-5 align-items-end justify-content-between"  >
  
  


                   
            <div class="col-5 " style="padding-left: 12px;">
              <div class="row align-items-start">
                   <p style="font-weight: 500; font-size: 20px;">Company Source</p>
                   <div class="row align-items-center " style="padding-right: 0px;">
                     
                     <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                       <select class="form-select no-dropdown-icon" id="compaysourseid">
                        <option value="">Select Compnay Source</option>
                        <option value="source1">Source 1</option>
                        <option value="source2">Source 2</option>
                       </select>
                       
                     
                       <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center"
                       style="height: 30px; width: 30px; background-color: #F6F6F6; border-radius: 10px; border: 1px solid rgb(123, 102, 102);  "></i>
                  
                     </div>
                     
                   </div>
         
                  
         
                 </div>
           </div>
  
  
                
            <div class="col-5">
              <div class="row align-items-start">
                   <p style="font-weight: 500; font-size: 20px;">Office Code</p>
                   <div class="row align-items-center " style="padding-right: 0px;">
                     
                     <div class="custom-select-wrapper d-flex align-items-center m-0 p-0" >
                       <select class="form-select no-dropdown-icon" id="taxPayer">
                         <option value="">Select Tax Payer</option>
                         <option value="payer1">Payer 1</option>
                         <option value="payer2">Payer 2</option>
                       </select>
                       
                     
                       <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center"
                       style="height: 30px; width: 30px; background-color: #F6F6F6; border-radius: 10px; border: 1px solid rgb(123, 102, 102);  "></i>
                  
                     </div>
                     
                   </div>
         
                  
         
                 </div>
           </div>
  
  
                <div class="col-2 d-flex align-items-end p-0">
                  <button type="button" class="btn"
                      style="height: 60px;width: 175px; background-color: #35BC8C; border-radius: 15px; font-weight: 500; color: white; font-size: 24px;"><span style="font-size: 20px;">Search</span>
                      <b> <i class="bi bi-search" style="padding-left: 10px; "> </i></b></button>
              </div>
  
  
  
              </div>
  
  
            </div>
          </div>
  
        </div>
  
  
      </div>

    </div>





