

.customHeading{
  font-size: 30px;
  font-weight: 600;
  color:#000000;
}

.sub-heading{
  font-size: 20px;
  font-weight: 500;
  color:#000000;
}

.custom-icon{
    height: 34px;
    width: 34px; background-color: #F6F6F6; 
    border-radius: 10px; 
    border: 1px solid #00000033 
  }
  



  th{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
  }

  td{
    font-size: 20px;
    font-weight: 400;
    color: #000000E5;
  }


  .searchbtn{
    height: 60px;
    width: 175px; 
    background-color: #35BC8C; 
    border-radius: 15px; 
    font-weight: 500; 
    color: #FFFFFF; 
    font-size: 20px;
    border: none;
  }





