 
  
  
  .addbutton{
  
    width: 144px; 
    height: 55px; 
    border-radius: 20px; 
    background-color: #35BC8C; 
    color: #FFFFFF; 
    font-size: 22px; 
    font-weight: 500; 
    outline: none;
  
  }
  
  
  
  .custom-icon{
    height: 34px;
    width: 34px; background-color: #F6F6F6; 
    border-radius: 10px; 
    border: 1px solid #00000033 
  }
  
  
  
  .no-arrow::after {
    display: none !important;
  }
  
  
   
  
  #example thead tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
  }
  
  #example tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  
  /* Add padding to header cells */
  #example th {
    padding: 10px 10px; 
    text-align: left;
    background-color: #FFFFFF; 
  }
  
  /* Add padding to data cells */
  #example td {
    padding: 10px;  /* Adjust padding as needed */
    background-color: #FFFFFF;
  }
  
  #slid{
    padding-left: 57px !important;
  }
    
  #slidDivision{
    padding-left: 50px !important;
  }
  
  #slidCircle{
    padding-left: 45px !important;
  }
  
  
  /* Style for rounded corners */
  #example {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden; /* Ensure rounded corners are visible */
    
  }
  
    
  
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #0A3B4040;
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
  }
  
  .search-container input {
    flex: 1;
    height: 55px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #FFFFFF;
  }
  
  .search-container button i {
    font-size: 22.69px;
    color: #000000;
  }
  
  
  
  
  .dropdown-icon1 {
    height: 34px;
    width: 34px;
    background-color: #f6f6f6;
    color: black;
    border-radius: 10px;
    border: 1px solid #00000033;
    
  }
  
  .dropdown-icon2{
    height: 34px;
    width: 34px;
    background-color: #0A3B40;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #00000033;
    
  }
  
  
  

  
  
  
    /* Hide the default dropdown icon and style the select */
    .no-dropdown-icon {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #ffffff; 
      padding-right: 30px; 
      border-radius: 15px; 
      border: 1px solid #ccc; 
      color: gray; 
      font-weight: 400; 
      height: 55px; 
      font-size: 16px; 
      width: 100%; 
      cursor: pointer; 
    }
    
    
    .dropdown-icon {
      position: absolute;
      right: 10px; 
      top: 50%; 
      transform: translateY(-50%); 
      font-size: 18px; 
      color: gray; 
      pointer-events: none; 
      z-index: 1; 
    }
  
  
  
  
    .pagination-controls {
      text-align: right;
      position: fixed;
      bottom: 30px;
      right: 55px;
      z-index: 1000; 
    }
  
  
  
  
  
    
  
  .custom-select-wrapper {
    position: relative; /* Allows absolute positioning of the icon */
    display: inline-flex; /* Align items horizontally */
    width: 100%;  /* Make sure the wrapper takes full width */
  
   
    
  
  }
  

  
  .custom-select-wrapper .form-select {
    transition: all 0.5s ease; /* Smooth transition for styling */
  }
  
  .custom-select-wrapper.open {
    
   
    background-color: #e3f2fd;
  }


  
  
  .custom-select-wrapper.open .form-select option{
    background-color: #0A3B40; /* Change background when open */
    color: white;
    border-radius: 15px;
  }

  
  
  
  .costom-li li a{
    color: white;
  }
  
  .costom-li li a:hover{
    color: black;
  }
  
    
  
  
   